<%= form_for(@dose, @cocktail) do |f| %>
<div class="field">
  <%= f.label :description %><br>
  <%= f.text_area :description %>
</div>
  <%= f.label :ingredient %>
  <%= f.collection_select :ingredient_id, Ingredient.all, :id, :name %>
<div class="actions">
  <%= f.submit %>
</div>
<% end %>
